In [33]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from io import StringIO
import io
from google.colab import files
uploaded=files.upload()

Saving idmanual.json to idmanual (1).json

In [34]:
df=pd.read_json(io.StringIO(uploaded.get('idmanual.json').decode('utf-8')))   #converted the json to csv

In [35]:
df

,id_tx,class_id,description,status
0,009-4140,009,Bank note acceptors for separating good bank n...,A
1,009-4136,009,Fingerprint imagers,A
2,009-4133,009,Laboratory swabs [laboratory instruments],A
3,009-4131,009,Ear plugs for divers,A
4,009-4130,009,DVD recorders,A
...,...,...,...,...
58697,004-664,004,Cutting fluids for milling,A
58698,004-665,004,Cutting oils for millworking,A
58699,004-666,004,Cutting oils for milling,A
58700,004-667,004,Palm oil being biodiesel fuel,A
58701,004-668,004,Palm oil for industrial use,A

In [36]:
df.head()

      id_tx class_id                                        description status
0  009-4140      009  Bank note acceptors for separating good bank n...      A
1  009-4136      009                                Fingerprint imagers      A
2  009-4133      009          Laboratory swabs [laboratory instruments]      A
3  009-4131      009                               Ear plugs for divers      A
4  009-4130      009                                      DVD recorders      A

In [37]:
df.shape

(58702, 4)

In [38]:
df.columns

Index(['id_tx', 'class_id', 'description', 'status'], dtype='object')

In [39]:
df.isnull().sum()

id_tx          0
class_id       0
description    0
status         0
dtype: int64

In [40]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58702 entries, 0 to 58701
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id_tx        58702 non-null  object
 1   class_id     58702 non-null  object
 2   description  58702 non-null  object
 3   status       58702 non-null  object
dtypes: object(4)
memory usage: 1.8+ MB

In [42]:
df.describe()

          id_tx class_id                          description status
count     58702    58702                                58702  58702
unique    58700       49                                58602      4
top     016-471      009  Non-metal runners for sliding doors      A
freq          2     5457                                    2  49477

In [43]:
x=df.drop(columns=['status'])

In [44]:
x

          id_tx class_id                                        description
0      009-4140      009  Bank note acceptors for separating good bank n...
1      009-4136      009                                Fingerprint imagers
2      009-4133      009          Laboratory swabs [laboratory instruments]
3      009-4131      009                               Ear plugs for divers
4      009-4130      009                                      DVD recorders
...         ...      ...                                                ...
58697   004-664      004                         Cutting fluids for milling
58698   004-665      004                       Cutting oils for millworking
58699   004-666      004                           Cutting oils for milling
58700   004-667      004                      Palm oil being biodiesel fuel
58701   004-668      004                        Palm oil for industrial use

[58702 rows x 3 columns]

In [45]:
y=df['status']

In [46]:
y

0        A
1        A
2        A
3        A
4        A
        ..
58697    A
58698    A
58699    A
58700    A
58701    A
Name: status, Length: 58702, dtype: object

In [47]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(x,y, test_size=0.05, random_state=0)

In [48]:
X_train

          id_tx class_id                                        description
40554   003-222      003                                         Sun creams
33426   038-349      038  Providing an on-line forum for trading virtual...
7643   029-1483      029                                    Fish, preserved
5163   009-3390      009               Recorded computer operating programs
16286   008-638      008  Hand tools, namely, wrecking bars, stripping b...
...         ...      ...                                                ...
45891  001-2085      001                             Potassium fluosilicate
52416  010-2101      010                     Lasers for ophthalmic purposes
42613    019-74      019                                     Wood panelling
43567  028-4083      028                         Toy tricycles for children
2732    017-809      017                         Pipe jackets, not of metal

[55766 rows x 3 columns]

In [49]:
y_train

40554    A
33426    A
7643     X
5163     M
16286    A
        ..
45891    A
52416    A
42613    A
43567    A
2732     A
Name: status, Length: 55766, dtype: object

In [53]:
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(55766, 3)
(2936, 3)
(55766,)
(2936,)

In [55]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()